body {
    background-image: url("../images/bg.jpg");
    
}

.container {
	height: auto;
	width: 100%;
}

.jumbotron {
	opacity: 0.7;
}

.panel {
	opacity: 0.8;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

#addBtn {
    background-color: black;
    color: white;
    border: 1px white;
}
#traininfo
{
    color:black;

}
